$primary-bg-color: #16161a;
$secondary-bg-color: #7f5af0;
$primary-accent-color: #2cb67d;
$secondary-accent-color: #fed049;
$primary-text-color: #fffffe;
$secondary-text-color: #fffffe;
$background-gradient: linear-gradient(123.27deg, #32323a 4.47%, #16161a 100%);
