@import "../../sass/index.module.scss";

.home {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 15%;
  margin-right: 15%;
  .header {
    color: $primary-text-color;
    justify-self: center;
    align-self: center;
  }
}
