@import "../../sass/index.module.scss";

.home {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 15%;
  margin-right: 15%;
  .header {
    color: $primary-text-color;
    justify-self: center;
    align-self: center;
    z-index: 1000;
    font-size: 64px;
  }

  .cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2em;

    a {
      margin-bottom: 2em;
      flex-grow: 1;
    }
  }
}
