@import "../../sass/index.module.scss";

.Card {
  display: flex;
  flex-flow: column nowrap;
  @include background-gradient;
  box-shadow: -20px -20px 60px rgba(35, 35, 42, 0.25), 20px 20px 60px #09090a;
  border-radius: 24px;
  padding: 1em;
  border: 1px solid;
  max-width: 300px;

  border-image-source: linear-gradient(
    129.61deg,
    #bbb9cc 2.95%,
    #16161a 50.65%
  );

  img {
    align-self: center;
    width: 113px;
    aspect-ratio: 1 / 1;
  }

  h4 {
    align-self: center;
    text-decoration: none;
    color: $primary-text-color;
  }

  a {
    font-style: normal;
    text-decoration: none;
    color: $primary-text-color;
  }
}
