@import "../../sass/index.module.scss";

.fourOFour {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;
  align-content: center;
  justify-content: center;

  h1,
  a {
    align-self: center;
  }
}
