@import "./sass/index.module.scss";

body {
  background-color: $primary-bg-color;
  color: $primary-text-color;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  justify-content: center;
  align-content: center;
  margin: auto;
}
