@import "./sass/index.module.scss";

body {
  background-color: $primary-bg-color;
  color: $primary-text-color;
  font-family: "Montserrat", sans-serif;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  min-height: 100vh;
  justify-content: flex-start;
  align-content: center;
  margin: auto;
  @include background-gradient;
}
